.messageItem:hover{
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.messageItemActive{
  background-color: #ff0;
}

.active{
  background-color: rgb(189, 231, 122);
  border-radius: 10px;
}
