.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.messageItem:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.messageItemActive {
  background-color: #ff0;
}

.active {
  background-color: rgb(189, 231, 122);
  border-radius: 10px;
}

.icon span {
  margin: 0 5px;
  font-size: 28px;
}
.icon {
  margin-left: 3px;
}
.paddingSetting {
  padding: 16px 10px !important;
}
/* talk头部的图标样式 */
.headerIcon span {
  font-size: 28px;
  padding: 10px 10px;
}
.headerIcon span:hover {
  cursor: pointer;
  background-color: rgb(230, 227, 227);
  border-radius: 50%;
}

.m10 {
  margin: 0 10px;
}

.voiceModal {
  line-height: 50px;
  padding-left: 20px;
  height: 50px;
  width: 100px;
  border-radius: 50px;
}

.voicefontSize {
  font-size: 25px;
}
.dlb {
  display: inline-block;
}
.bg-light {
  background-color: #f2eef2 !important;
}
