/* icon的样式 */
.changeSvgSize{
  transform:rotate(0);
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(72, 149, 236);
}

.changeSvgSize:hover{
  cursor: pointer;
  box-shadow:1px 1px 70px  rgb(72, 149, 236);
}

.icon-ring{
  transform:rotate(140deg);
  background: rgb(255, 72, 72) !important;
}
.icon-ring:hover{
  cursor: pointer;
  box-shadow:1px 1px 70px  rgb(255, 72, 72);
}
/* 小盒子 */
.smallbox{
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 200px;
  height: 150px;
  /* background-color: #ff0; */
}

.bigbox{
  position: absolute;
  left: 0;
  /* background-color: #f00; */
  bottom: 25px;
  width: 100%;
  height: 100%;
}

.VideoTip{
  text-align: center;
  background-color: rgb(72, 149, 236);
  color: #fff;
  -webkit-user-select: none;  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;         
}

/* 鼠标移入,显示图标栏 */
.semi-modal-content:hover .modal-footbar{
  display:flex !important;
  justify-content:space-around;
}

/* 鼠标进入,小盒子上移 */
.semi-modal-content:hover .smallbox{
  bottom:120px;
}